In [2]:
pip install pandas

Collecting pandas
  Using cached pandas-1.0.3-cp37-cp37m-manylinux1_x86_64.whl (10.0 MB)
Collecting numpy>=1.13.3
  Using cached numpy-1.18.2-cp37-cp37m-manylinux1_x86_64.whl (20.2 MB)
Requirement already satisfied: python-dateutil>=2.6.1 in ./lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Using cached pytz-2019.3-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: six>=1.5 in ./lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.18.2 pandas-1.0.3 pytz-2019.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

# Reading data

In [4]:
df=pd.read_csv('covoid19-data.csv')

In [6]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.452782         1   37          1           1              0
1  100.919096         1   75          0           0              0
2  100.026438         1   59          1           1              0
3   99.868750         0   22          1          -1              1
4   98.386693         1   81          0          -1              1

In [7]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2994  101.409855         1   11          1           0              0
2995   99.842788         1   73          0           1              1
2996   98.031220         0   74          0           0              0
2997  101.306964         1   34          0           1              0
2998   99.945807         1   36          1           0              0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2999 non-null   float64
 1   bodyPain       2999 non-null   int64
 2   age            2999 non-null   int64
 3   runnyNose      2999 non-null   int64
 4   diffBreath     2999 non-null   int64
 5   infectionProb  2999 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 140.7 KB

In [11]:
df['diffBreath'].value_counts()

-1    1015
 1     997
 0     987
Name: diffBreath, dtype: int64

In [12]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,99.972719,0.489496,50.002334,0.497833,-0.006002,0.511170
std,1.140128,0.499973,29.327036,0.500079,0.819194,0.499959
min,98.002204,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.021610,0.000000,24.000000,0.000000,-1.000000,0.000000
50%,99.971332,0.000000,50.000000,0.000000,0.000000,1.000000
75%,100.935768,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.996615,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [13]:
import numpy as np

In [14]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [15]:
train,test=data_split(df,0.2)

In [16]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1103  100.879719         1   86          1           0              0
1569   98.674424         0   81          0           0              0
2229  101.540577         1   61          1           0              1
2296  101.752452         0   84          1           1              1
1800   99.847701         1   34          0           0              0
...          ...       ...  ...        ...         ...            ...
1638   99.578211         1   68          1           1              1
1095   99.640209         0   80          0           0              0
1130  101.325280         1   12          1           0              1
1294   99.737205         1   33          1           0              0
860    98.800280         0   44          1           0              0

[2400 rows x 6 columns]

In [17]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1376  100.676602         0   58          0           0              1
932    99.268835         0   13          0           1              0
144    98.777526         1   80          1           1              1
1752   99.361665         0   26          0          -1              0
51     99.242620         1   32          1          -1              1
...          ...       ...  ...        ...         ...            ...
842    98.326482         1   51          1           0              0
637    98.945438         0   86          0          -1              0
695   100.376324         1   40          1          -1              1
226    99.557136         1   92          1           0              0
2603   99.794804         1   62          0           1              1

[599 rows x 6 columns]

In [18]:
X_train=train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test=test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [30]:
Y_train=train[['infectionProb']].to_numpy().reshape(2400,)
Y_test=test[['infectionProb']].to_numpy().reshape(599,)

In [31]:
Y_train

array([0, 0, 1, ..., 1, 0, 0])

In [32]:
from sklearn.linear_model import LogisticRegression

In [27]:
pip install sklearn

Processing /home/himanshu/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e/sklearn-0.0-py2.py3-none-any.whl
Collecting scikit-learn
  Downloading scikit_learn-0.22.2.post1-cp37-cp37m-manylinux1_x86_64.whl (7.1 MB)
     |████████████████████████████████| 7.1 MB 362 kB/s eta 0:00:01     |████▉                           | 1.1 MB 86 kB/s eta 0:01:09     |████████████▏                   | 2.7 MB 85 kB/s eta 0:00:51     |████████████████▏               | 3.6 MB 26 kB/s eta 0:02:11
Collecting scipy>=0.17.0
  Downloading scipy-1.4.1-cp37-cp37m-manylinux1_x86_64.whl (26.1 MB)
     |████████████████████████████████| 26.1 MB 337 kB/s eta 0:00:01   |                                | 20 kB 2.6 MB/s eta 0:00:11     |██▎                             | 1.9 MB 83 kB/s eta 0:04:50     |██████████▉                     | 8.8 MB 75 kB/s eta 0:03:48     |█████████████                   | 10.6 MB 63 kB/s eta 0:04:06     |█████████████▏                  | 10.8 MB 63 kB/s eta 0:04:02     |███████████████▍                | 12.6 MB 295 kB/s eta 0:00:46     |███████████████████             | 15.5 MB 405 kB/s eta 0:00:27     |████████████████████▊           | 16.9 MB 76 kB/s eta 0:02:02     |███████████████████████▊        | 19.4 MB 103 kB/s eta 0:01:05     |███████████████████████▉        | 19.4 MB 451 kB/s eta 0:00:15     |████████████████████████▌       | 20.0 MB 428 kB/s eta 0:00:15     |████████████████████████▋       | 20.0 MB 428 kB/s eta 0:00:15     |█████████████████████████▉      | 21.1 MB 41 kB/s eta 0:02:02     |███████████████████████████▏    | 22.1 MB 365 kB/s eta 0:00:11     |████████████████████████████▌   | 23.2 MB 89 kB/s eta 0:00:33     |█████████████████████████████▌  | 24.0 MB 249 kB/s eta 0:00:09
Requirement already satisfied: numpy>=1.11.0 in ./lib/python3.7/site-packages (from scikit-learn->sklearn) (1.18.2)
Collecting joblib>=0.11
  Downloading joblib-0.14.1-py2.py3-none-any.whl (294 kB)
     |████████████████████████████████| 294 kB 87 kB/s eta 0:00:011
Installing collected packages: scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-0.14.1 scikit-learn-0.22.2.post1 scipy-1.4.1 sklearn-0.0
Note: you may need to restart the kernel to use updated packages.

In [28]:
from sklearn.linear_model import LogisticRegression

In [33]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
inputFeatures=[100,1,22,1,1]
infProb=clf.predict_proba([inputFeatures])[0][1]

In [ ]:
pip install flask

In [ ]:
pip install pickle